<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="CarModel" asp-action="Table">Car Models</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="DetailSeries" asp-action="Table">Detail Series</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Auto" asp-action="Table">Assembled autos</a>
</li>

