<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Supplier" asp-action="Table">Suppliers</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Contract" asp-action="Table">Contracts</a>
</li>
