<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Auto" asp-action="Table">Autos</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Client" asp-action="Table">Clients</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Margin" asp-action="Table">Margins</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Sale" asp-action="Sell">Sell Auto</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Sale" asp-action="Statistics">Sales Statistics</a>
</li>
