<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Contract" asp-action="Table">Contracts</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Store" asp-action="Details">Details</a>
</li>