@{ ViewBag.Title = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        var role = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value;
        var success = Enum.TryParse<Post>(role, out var post);
        if (success)
        {
            <div class="fw-bold">@post.DisplayName()</div>
        }
    }
</div>