@model LoginViewModel

@{ Layout = null; }

<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AutoDealer.Web.styles.css" asp-append-version="true"/>
</head>

<body>
<div class="container my-3">
    <form asp-controller="Auth" asp-action="Login">
        <fieldset>
            <legend>
                <h2 class="text-center">Sign In</h2>
            </legend>
        </fieldset>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control has-validation" autofocus=""
                   placeholder="@Html.DisplayNameFor(vm => vm.Email)">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="Password" class="form-control has-validation"
                   placeholder="@Html.DisplayNameFor(vm => vm.Password)">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="text-center my-3">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>