@model CarModelData 
@{ ViewBag.Title = "Create model"; }

<div class="p-5 g-3 shadow">
    <form asp-action="Create" class="has-validation">
        <h2 class="text-center">Create car model</h2>

        <div class="row g-2">
            <div class="col form-floating">
                <input asp-for="Line" class="form-control" placeholder="Line name" autofocus="">
                <label>Line name</label>
                <span asp-validation-for="Line" class="text-danger"></span>
            </div>

            <div class="col form-floating">
                <input asp-for="Model" class="form-control"
                       placeholder="Model name">
                <label>Model name</label>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="col form-floating">
                <input asp-for="Code" class="form-control" placeholder="Trim code">
                <label>Trim code</label>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="my-3 g-3 d-flex justify-content-evenly">
            <button class="btn btn-success" type="submit">Create</button>
            <button class="btn btn-outline-primary" type="reset">Clear</button>
            <a class="btn btn-danger" asp-action="Table">Cancel</a>
        </div>

    </form>
</div>